{% extends "base.html" %}
{% load static %}
{% block title %} Пользователи {% endblock %}
{% block content %}
    <style>
        .collapse {
            display: none;
        }
        .show {
            display: block;
        }
    </style>
    <div class="d-flex justify-content-center">
        <a href="{% url 'accounts:users_create' %}" class="btn btn-sm btn-outline-primary">Создать пользователя</a>
    </div>
    <div id="usersList" class="container mt-5">
        {% for user in users %}
            <ul class="list-group">
                <li id="list-group_{{ user.id }}" class="list-group-item user-item d-flex justify-content-between" data-user-id="{{ user.id }}" style="cursor: pointer;" {% if user.links %} onClick="load_users_urls({{ user.id }}) {% endif %}">
                    <span>{{ user }}</span>
                    {% comment %} {% if not user.is_superuser %} {% endcomment %}
                    <input id="delete_user_{{ user.id }}" onClick="delete_user({{ user.id }})" type="submit" data-url="{% url 'accounts:users_delete' user.id %}" class="btn btn-sm btn-outline-danger" value="Удалить">
                    {% comment %} {% endif %} {% endcomment %}
                </li>
            </ul>

            <table class="table collapse links-list mb-0" id="links-{{ user.id }}">
                <thead>
                    <tr>
                        <th>Полный URL</th>
                        <th>Короткий URL</th>
                        <th>Количество кликов</th>
                        <th>Дата создания</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        {% endfor %}
    </div>
    <script>
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/delete_user_url.js' %}"></script>
    <script src="{% static 'js/delete_user.js' %}"></script>
    <script src="{% static 'js/load_users_urls.js' %}"></script>
{% endblock %}