{% extends "base.html" %}
{% block title %} Пользователи {% endblock %}
{% block content %}
    <style>
        .collapse {
            display: none;
        }
        .show {
            display: block;
        }
    </style>
    <div class="container mt-5">
        {% for user in users %}
        <ul class="list-group">
            <li class="list-group-item user-item" data-user-id="{{ user.id }}" style="cursor: pointer;">{{ user }}</li>
            <ul class="list-group collapse links-list" id="links-{{ user.id }}"></ul>
        {% endfor %}
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const userItems = document.querySelectorAll('.list-group-item.user-item');

            userItems.forEach(userItem => {
                userItem.addEventListener('click', function() {
                    const userId = this.getAttribute('data-user-id');
                    const linksList = document.getElementById('links-' + userId);

                    if (linksList.classList.contains('show')) {
                        linksList.classList.remove('show');
                    } else if (linksList.childElementCount > 0) {
                        linksList.classList.add('show');
                    } else {
                        fetch(`/user/${userId}/links/`)
                            .then(response => response.json())
                            .then(data => {
                                data.links.forEach(link => {
                                    const linkItem = document.createElement('a');
                                    linkItem.href = "{% url 'link_app:url_detail' 'PLACEHOLDER' %}".replace('PLACEHOLDER', link.short_url);
                                    linkItem.textContent = link.short_url;
                                    linkItem.classList.add('list-group-item');
                                    linksList.appendChild(linkItem);
                                });
                                linksList.classList.add('show');
                            });
                    }
                });
            });
        });
    </script>
{% endblock %}