{% extends "base.html" %}
{% block title %}Link shorter{% endblock %}
{% block content %}
    <div class="d-flex flex-column" id="urls" >
        {% for url in urls %}
            <div class="d-flex flex-row align-items-center">
                <div class="ms-5 me-5">{{ url }}</div>
                <div class="ms-5 me-5">{{ url.short_url }}</div>
                <div class="ms-5 me-5">{{ url.click_count }}</div>
                <div class="ms-5 me-5">{{ url.created_at }}</div>
                <div class="ms-5 me-5">{{ url.user }}</div>
                <form action="{% url 'link_app:url_delete' url.id %}" method="POST" class="ms-5 me-5" id="urlsList">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-outline-danger mb-3 mt-2" name="delete_url" value="Удалить">
                </form>
            </div>
        {% endfor %}
    </div>
    <form action="{% url 'link_app:urls_list' %}" method="POST" class="ms-5 me-5" id="urlCreate">
        {% csrf_token %}
        <div class="d-flex flex-row">
            {{ form.full_url }}
            <input type="submit" class="btn btn-outline-primary mb-3 mt-2" name="comment_add" value="Создать">
        </div>
    </form>
    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                // отслеживаем событие отправки формы
                $('#urlCreate').submit(function () {
                    // создаем AJAX-вызов
                    $.ajax({
                        data: $(this).serialize(), // получаем данные формы
                        type: $(this).attr('method'), // GET или POST
                        url: "{% url 'link_app:urls_list' %}",
                        // если успешно, то
                        success: async function (response) {
                            let html = await (await fetch(location.href)).text();
                            let newdoc = new DOMParser().parseFromString(html, 'text/html');
                            document.getElementById('urls').outerHTML = newdoc.querySelector('#urls').outerHTML;
                            document.getElementById('id_full_url').value = '';
                        },
                        // если ошибка, то
                        error: function (response) {
                            // предупредим об ошибке
                            alert(response.responseJSON.errors);
                            console.log(response.responseJSON.errors)
                        }
                    });
                    return false;
                });
            })
        </script>
    {% endblock javascript %}
{% endblock %}