{% extends "base.html" %}
{% block title %}Link shorter{% endblock %}
{% block content %}
{% load fullurl %}
{% load static %}
    <div class="d-flex flex-column" id="urls" >
        {% for url in urls %}
            <div class="d-flex flex-row align-items-center">
                <a href="{{ url }}" class="ms-5 me-5">{{ url }}</a>
                <a href="{% url 'link_app:url_detail' url.short_url %}" class="ms-5 me-5">{% fullurl 'link_app:url_detail' url.short_url %}</a>
                <div class="ms-5 me-5">{{ url.click_count }}</div>
                <div class="ms-5 me-5">{{ url.created_at }}</div>
                <div class="ms-5 me-5">{{ url.user }}</div>
                <input id="delete_url{{ url.id }}" onClick="delete_url({{ url.id }})" type="submit" data-url="{% url 'link_app:url_delete' url.id %}" class="btn btn-sm btn-outline-danger mb-3 mt-2" value="Удалить">
            </div>
        {% endfor %}
    </div>
    <form action="{% url 'link_app:urls_list' %}" method="POST" class="ms-5 me-5" id="urlCreate">
        {% csrf_token %}
        <div class="d-flex flex-row">
            {{ form.full_url }}
            <input id="create_url" data-url="{% url 'link_app:urls_list' %}" type="submit" class="btn btn-outline-primary mb-3 mt-2" value="Создать">
        </div>
    </form>
    <script>
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/create_url.js' %}"></script>
    <script src="{% static 'js/delete_url.js' %}"></script>
{% endblock %}